<template>
  <div>
    <h1>{{ hello }}</h1>
  </div>
</template>

<script>
export default {
  name: 'App',
  data: function () {
    return {
      hello: "Hello World!"
    }
  }
}
</script>

<style>
</style>
